.form{
    display: flex;
    flex-direction: column;
}
.task-id{
    padding-inline: 25px;
    margin:0;
    font-size: 12px;
    font-weight: bold;
}
.task-button{
    background-color: #ffffff;
    border: none;
    color: rgba(0, 0, 0, 0.83);
    border-radius: 25px;
    padding-inline: 10px;
    padding-block: 3px;
    transition: box-shadow 0.3s ease-in-out;  
    
    
}
.task-button:hover{
   color: #717070;
    
}