<div class="tasks" >
  <section>
    <div class="sidebar" >
      <mat-radio-group >
      <div>
        <label class="task-label"><b>Sort By Due Date</b></label>
        <div class="rad">
            <mat-radio-button style="display: inline;" (click)="onSortByEarliestDueDateFirst()">Earliest</mat-radio-button>
            <mat-radio-button style="display: inline;" (click)="onSortByFarthestDueDateFirst()">Farthest</mat-radio-button>
        </div>
      </div>
      <div >
        <label class="task-label"><b>Sort By Status</b></label>
        <div class="rad">
          <mat-radio-button style="display: inline;" (click)="onSortByCompletedFirst()">Completed</mat-radio-button>
         <mat-radio-button style="display: inline;" (click)="onSortByPendingFirst()">Pending</mat-radio-button>
        </div>
      </div>
        
     <div>
        <label class="task-label"><b>Sort By Priority</b></label>
        <div class="rad">
        <mat-radio-button  style="display: inline;" (click)="onSortByDecreasingPriority()">Highest first</mat-radio-button>
        <mat-radio-button style="display: inline;" (click)="onSortByIncreasingPriority()" >Lowest first</mat-radio-button>
        </div>
      </div>
    </mat-radio-group>
    </div>
    <button style="margin: 30px;color:rgb(0, 0, 0);background-color:rgb(255, 255, 255);height:30px;border: 1px solid black;"  mat-raised-button (click)="openHistory()">View History</button>

</section>
<div class="tasks-section" >
  <div class="task-section-header" style="position: sticky;top:0">
      <h3>All Tasks</h3>
    <div class="task-header-side-bar">
      <app-task-add-button class="task-add-button" (addTask)="onAddTask($event)"></app-task-add-button>
      <button style="color:rgb(0, 0, 0);background-color:rgb(255, 255, 255);height:30px;border: 1px solid black;" mat-raised-button class="download-button" type="button" (click)="downloadCSV()">Export to csv</button>
    </div>
  </div>
  <div class="task-table-container">
    <div class="task-table-header" style="width:100%">
      <div class="task-table-cell">TASK NAME</div>
      <div class="task-table-cell">DESCRIPTION</div>
      <div class="task-table-cell">DUE DATE</div>
      <div class="task-table-cell">PRIORITY</div>
      <div class="task-table-cell">ACTIONS</div>

    </div>
  <div class="tasks-div-container">
    <div
      class="task-item "
      *ngFor="let task of (tasks$ | async)"
    >
    <div class="task-table-row" [id]="task.status">
      <!-- <p><b>id: </b>{{task.id}}</p> -->
      
          <section class="">
            <mat-checkbox class="" [checked]="task.status==='completed'" (change)="onStatusChange(task,$event)" ></mat-checkbox>
          </section >
          <div class="task-table-cell">{{task.name}} </div>
          <div class="task-table-cell">{{task.description}}</div>
          <div class="task-table-cell"> {{task.duedate.split(',')[0]}}</div>
          
          <div class="task-table-cell">{{task.priorityLevel}}</div>
        
        <!-- <p><b>status: </b>{{task.status}}</p> -->
        <div class="task-table-cell">
          <button
            (click)="onRemoveTask(task)"
            data-test="remove-button" class="remove-button task-button"
          ><mat-icon>delete</mat-icon></button>
          <app-task-edit-button [task]="task" (editTask)="onEditTask($event)"></app-task-edit-button>
        </div>
    </div>
    </div>
  </div>
</div></div>
