.task-details-div{
    display: flex;
    flex-direction: column;
    gap: 7px;

}
.task-id{
    padding-inline: 25px;
    font-weight: bold;
    font-size: 12px;
}
.field-title{
    color: black;
    font-size: 16px;
}
.task-detail{
    display: flex;
    gap: 10px;
}
.task-button{
    background-color: #ffffff;
    border: none;
    color: rgba(0, 110, 255, 0.83);
    border-radius: 8px;
    padding-inline: 10px;
    padding-block: 3px;
    box-shadow: 0px 2px 8px rgba(165, 165, 165, 0.575);
    transition: box-shadow 0.3s ease-in-out;  
    
    
}
.task-button:hover{
    background-color: #b8e9ffa7;
    box-shadow: 0px 0px 14px rgba(165, 165, 165, 0.575);
}