<div class="history-section" >
  <div class="history-header">
    <!-- <h1>Logs</h1> -->
     <span>Logs</span>
  </div>
  <div class="log-card">
    <div
        class="task-item"
        *ngFor="let history of (history$ | async)"
      >
      <section class="log-details-card">
        <div class="log-details">
            <p><b>{{history.title}}:</b> <em> <b> {{history.name}}</b>,</em> with id: {{history.id}} at {{history.timeStamp}}</p>
        </div>
      </section>
    
    </div>
  </div>
</div>